In [ ]:
# ---------------------------
# Step 1: Upload & Load CSV
# ---------------------------
from google.colab import files
import pandas as pd
import numpy as np

# Upload CSV
uploaded = files.upload()
filename = list(uploaded.keys())[0]

# Read CSV
df = pd.read_csv(filename)

# Backup before cleaning
df_before = df.copy()

print("âœ… File loaded successfully!\n")

# Show full dataset (before cleaning)
pd.set_option('display.max_rows', None)     # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)        # No truncation
pd.set_option('display.max_colwidth', None) # Show full content

print("ðŸ“Œ Full Dataset (Before Cleaning):")
display(df)


# ---------------------------
# Step 2: Before Cleaning Summary
# ---------------------------
print("\n--- BEFORE CLEANING ---")
print("Shape (rows, columns):", df_before.shape)
print("\nMissing values:\n", df_before.isnull().sum())
print("\nDuplicate rows:", df_before.duplicated().sum())


# ---------------------------
# Step 3: Cleaning Process
# ---------------------------

# (a) Remove Duplicates
df = df.drop_duplicates()

# (b) Handle Missing Values
# Numeric columns â†’ fill with mean
for col in df.select_dtypes(include=np.number).columns:
    df[col] = df[col].fillna(df[col].mean())

# Categorical columns â†’ fill with mode
for col in df.select_dtypes(include="object").columns:
    df[col] = df[col].fillna(df[col].mode()[0])

# (c) Treat Outliers (IQR method)
numeric_cols = df.select_dtypes(include=np.number).columns
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df[col] = np.where(df[col] < lower, lower,
                       np.where(df[col] > upper, upper, df[col]))


# ---------------------------
# Step 4: After Cleaning Summary
# ---------------------------
print("\n--- AFTER CLEANING ---")
print("Shape (rows, columns):", df.shape)
print("\nMissing values:\n", df.isnull().sum())
print("\nDuplicate rows:", df.duplicated().sum())


# ---------------------------
# Step 5: Before vs After Report
# ---------------------------
report = pd.DataFrame({
    "Before Cleaning": [
        df_before.shape[0],
        df_before.duplicated().sum(),
        df_before.isnull().sum().sum()
    ],
    "After Cleaning": [
        df.shape[0],
        df.duplicated().sum(),
        df.isnull().sum().sum()
    ]
}, index=["Total Rows", "Duplicate Rows", "Missing Values"])

print("\nðŸ“Š Before vs After Cleaning Report:\n")
display(report)

# ---------------------------
# Step 6: Final Cleaned Dataset
# ---------------------------
print("\nâœ… Final Cleaned Dataset (Full):")
display(df)

Saving StudentsPerformance1.csv to StudentsPerformance1.csv
âœ… File loaded successfully!

ðŸ“Œ Full Dataset (Before Cleaning):

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.000000,72.000000,74.000000
1,female,group C,some college,standard,completed,69.000000,90.000000,88.000000
2,female,group B,master's degree,standard,none,90.000000,95.000000,93.000000
3,male,group A,associate's degree,free/reduced,none,47.000000,57.000000,44.000000
4,male,group C,some college,standard,none,76.000000,78.000000,75.000000
5,female,group B,associate's degree,standard,none,71.000000,83.000000,78.000000
6,female,group B,some college,standard,completed,88.000000,95.000000,92.000000
7,male,group B,some college,free/reduced,none,40.000000,43.000000,39.000000
8,male,group D,high school,free/reduced,completed,64.000000,64.000000,67.000000
9,female,group B,high school,free/reduced,none,38.000000,60.000000,50.000000
10,male,group C,associate's degree,standard,none,58.000000,54.000000,52.000000
11,male,group D,associate's degree,standard,none,40.000000,52.000000,43.000000
12,female,group B,high school,standard,none,65.000000,81.000000,73.000000
13,male,group A,some college,standard,completed,78.000000,72.000000,70.000000
14,female,group A,master's degree,standard,none,50.000000,53.000000,58.000000
15,female,group C,some high school,standard,none,69.000000,75.000000,78.000000
16,male,group C,high school,standard,none,88.000000,89.000000,86.000000
17,female,group B,some high school,free/reduced,none,18.000000,32.000000,28.000000
18,male,group C,master's degree,free/reduced,completed,46.000000,42.000000,46.000000
19,female,group C,associate's degree,free/reduced,none,54.000000,58.000000,61.000000
20,male,group D,high school,standard,none,66.000000,69.000000,63.000000
21,female,group B,some college,free/reduced,completed,65.000000,75.000000,70.000000
22,male,group D,some college,standard,none,44.000000,54.000000,53.000000
23,female,group C,some high school,standard,none,69.000000,73.000000,73.000000
24,male,group D,bachelor's degree,free/reduced,completed,74.000000,71.000000,80.000000
25,male,group A,master's degree,free/reduced,none,73.000000,74.000000,72.000000
26,male,group B,some college,standard,none,69.000000,54.000000,55.000000
27,female,group C,bachelor's degree,standard,none,67.000000,69.000000,75.000000
28,male,group C,high school,standard,none,70.000000,70.000000,65.000000
29,female,group D,master's degree,standard,none,62.000000,70.000000,75.000000
30,female,group D,some college,standard,none,69.000000,74.000000,74.000000
31,NaN,NaN,NaN,NaN,NaN,217.711765,214.825051,219.893767
32,female,group E,master's degree,free/reduced,none,56.000000,72.000000,65.000000
33,male,group D,some college,standard,none,40.000000,42.000000,38.000000
34,male,group E,some college,standard,none,97.000000,87.000000,82.000000
35,male,group E,associate's degree,standard,completed,81.000000,81.000000,79.000000
36,female,group D,associate's degree,standard,none,74.000000,81.000000,83.000000
37,female,group D,some high school,free/reduced,none,50.000000,64.000000,59.000000
38,female,group D,associate's degree,free/reduced,completed,75.000000,90.000000,88.000000
39,male,group B,associate's degree,free/reduced,none,57.000000,56.000000,57.000000
40,male,group C,associate's degree,free/reduced,none,55.000000,61.000000,54.000000
41,female,group C,associate's degree,standard,none,58.000000,73.000000,68.000000
42,female,group B,associate's degree,standard,none,53.000000,58.000000,65.000000
43,male,group B,some college,free/reduced,completed,59.000000,65.000000,66.000000
44,female,group E,associate's degree,free/reduced,none,50.000000,56.000000,54.000000
45,male,group B,associate's degree,standard,none,65.000000,54.000000,57.000000
46,female,group A,associate's degree,standard,completed,55.000000,65.000000,62.000000
47,female,group C,high school,standard,none,66.000000,71.000000,76.000000
48,female,group D,associate's degree,free/reduced,completed,57.000000,74.000000,76.000000
49,male,group C,high school,standard,completed,82.000000,84.000000,82.000000
50,male,group E,some college,standard,none,53.000000,55.000000,48.000000
51,male,group E,associate's degree,free/reduced,completed,77.000000,69.000000,68.000000
52,male,group C,some college,standard,none,53.000000,44.000000,42.000000
53,male,group D,high school,standard,none,88.000000,78.000000,75.000000
54,female,group C,some high school,free/reduced,completed,71.000000,84.000000,87.000000
55,female,group C,high school,free/reduced,none,33.000000,41.000000,43.000000
56,female,group E,associate's degree,standard,completed,82.000000,85.000000,86.000000
57,male,group D,associate's degree,standard,none,52.000000,55.000000,49.000000
58,male,group D,some college,standard,completed,58.000000,59.000000,58.000000
59,female,group C,some high school,free/reduced,none,0.000000,17.000000,10.000000
60,male,group E,bachelor's degree,free/reduced,completed,79.000000,74.000000,72.000000
61,male,group A,some high school,free/reduced,none,39.000000,39.000000,34.000000
62,male,group A,associate's degree,free/reduced,none,62.000000,61.000000,55.000000
63,female,group C,associate's degree,standard,none,69.000000,80.000000,71.000000
64,female,group D,some high school,standard,none,59.000000,58.000000,59.000000
65,male,group B,some high school,standard,none,67.000000,64.000000,61.000000
66,male,group D,some high school,free/reduced,none,45.000000,37.000000,37.000000
67,female,group C,some college,standard,none,60.000000,72.000000,74.000000
68,male,group B,associate's degree,free/reduced,none,61.000000,58.000000,56.000000
69,female,group C,associate's degree,standard,none,39.000000,64.000000,57.000000
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,male,group D,some college,standard,completed,63.000000,55.000000,63.000000
72,female,group A,associate's degree,free/reduced,none,41.000000,51.000000,48.000000
73,male,group C,some high school,free/reduced,none,61.000000,57.000000,56.000000
74,male,group C,some high school,standard,none,49.000000,49.000000,41.000000
75,male,group B,associate's degree,free/reduced,none,44.000000,41.000000,38.000000
76,NaN,NaN,NaN,NaN,NaN,217.711765,214.825051,219.893767
77,male,group A,bachelor's degree,standard,completed,80.000000,78.000000,81.000000
78,female,group D,some high school,standard,completed,61.000000,74.000000,72.000000
79,female,group E,master's degree,standard,none,62.000000,68.000000,68.000000
80,female,group B,associate's degree,standard,none,47.000000,49.000000,50.000000
81,male,group B,high school,free/reduced,none,49.000000,45.000000,45.000000
82,male,group A,some college,free/reduced,completed,50.000000,47.000000,54.000000
83,male,group E,associate's degree,standard,none,72.000000,64.000000,63.000000
84,male,group D,high school,free/reduced,none,42.000000,39.000000,34.000000
85,female,group C,some college,standard,none,73.000000,80.000000,82.000000
86,female,group C,some college,free/reduced,none,76.000000,83.000000,88.000000
87,female,group D,associate's degree,standard,none,71.000000,71.000000,74.000000
88,female,group A,some college,standard,none,58.000000,70.000000,67.000000
89,female,group D,some high school,standard,none,73.000000,86.000000,82.000000
90,female,group C,bachelor's degree,standard,none,65.000000,72.000000,74.000000
91,male,group C,high school,free/reduced,none,27.000000,34.000000,36.000000
92,male,group C,high school,standard,none,71.000000,79.000000,71.000000
93,male,group C,associate's degree,free/reduced,completed,43.000000,45.000000,50.000000
94,female,group B,some college,standard,none,79.000000,86.000000,92.000000
95,male,group C,associate's degree,free/reduced,completed,78.000000,81.000000,82.000000
96,male,group B,some high school,standard,completed,65.000000,66.000000,62.000000
97,female,group E,some college,standard,completed,63.000000,72.000000,70.000000
98,female,group D,some college,free/reduced,none,58.000000,67.000000,62.000000
99,female,group D,bachelor's degree,standard,none,65.000000,67.000000,62.000000
100,male,group B,some college,standard,none,79.000000,67.000000,67.000000
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,female,group D,associate's degree,standard,none,85.000000,91.000000,89.000000
103,male,group B,high school,standard,completed,60.000000,44.000000,47.000000
104,male,group C,some college,standard,completed,98.000000,86.000000,90.000000
105,female,group C,some college,standard,none,58.000000,67.000000,72.000000
106,female,group D,master's degree,standard,none,87.000000,100.000000,100.000000
107,male,group E,associate's degree,standard,completed,66.000000,63.000000,64.000000
108,female,group B,associate's degree,free/reduced,none,52.000000,76.000000,70.000000
109,female,group B,some high school,standard,none,70.000000,64.000000,72.000000
110,female,group D,associate's degree,free/reduced,completed,77.000000,89.000000,98.000000
111,male,group C,high school,standard,none,62.000000,55.000000,49.000000
112,male,group A,associate's degree,standard,none,54.000000,53.000000,47.000000
113,female,group D,some college,standard,none,51.000000,58.000000,54.000000
114,female,group E,bachelor's degree,standard,completed,99.000000,100.000000,100.000000
115,male,group C,high school,standard,none,84.000000,77.000000,74.000000
116,female,group B,bachelor's degree,free/reduced,none,75.000000,85.000000,82.000000
117,female,group D,bachelor's degree,standard,none,78.000000,82.000000,79.000000
118,female,group D,some high school,standard,none,51.000000,63.000000,61.000000
119,female,group C,some college,standard,none,55.000000,69.000000,65.000000
120,female,group C,bachelor's degree,standard,completed,79.000000,92.000000,89.000000
121,male,group B,associate's degree,standard,completed,91.000000,89.000000,92.000000
122,female,group C,some college,standard,completed,88.000000,93.000000,93.000000
123,male,group D,high school,free/reduced,none,63.000000,57.000000,56.000000
124,male,group E,some college,standard,none,83.000000,80.000000,73.000000
125,female,group B,high school,standard,none,87.000000,95.000000,86.000000
126,male,group B,some high school,standard,none,72.000000,68.000000,67.000000
127,male,group D,some college,standard,completed,65.000000,77.000000,74.000000
128,male,group D,master's degree,standard,none,82.000000,82.000000,74.000000
129,female,group A,bachelor's degree,standard,none,51.000000,49.000000,51.000000
130,male,group D,master's degree,standard,none,89.000000,84.000000,82.000000
131,male,group C,some high school,free/reduced,completed,53.000000,37.000000,40.000000
132,male,group E,some college,free/reduced,completed,87.000000,74.000000,70.000000
133,female,group C,some college,standard,completed,75.000000,81.000000,84.000000
134,male,group D,bachelor's degree,free/reduced,completed,74.000000,79.000000,75.000000
135,male,group C,bachelor's degree,standard,none,58.000000,55.000000,48.000000
136,male,group B,some high school,standard,completed,51.000000,54.000000,41.000000
137,male,group E,high school,standard,none,70.000000,55.000000,56.000000
138,female,group C,associate's degree,standard,none,59.000000,66.000000,67.000000
139,male,group D,some college,standard,completed,71.000000,61.000000,69.000000
140,female,group D,some high school,standard,none,76.000000,72.000000,71.000000
141,female,group C,some college,free/reduced,none,59.000000,62.000000,64.000000
142,female,group E,some college,free/reduced,completed,42.000000,55.000000,54.000000
143,male,group A,high school,standard,none,57.000000,43.000000,47.000000
144,male,group D,some college,standard,none,88.000000,73.000000,78.000000
145,female,group C,some college,free/reduced,none,22.000000,39.000000,33.000000
146,male,group B,some high school,standard,none,88.000000,84.000000,75.000000
147,male,group C,associate's degree,free/reduced,none,73.000000,68.000000,66.000000
148,female,group D,bachelor's degree,standard,completed,68.000000,75.000000,81.000000
149,male,group E,associate's degree,free/reduced,completed,100.000000,100.000000,93.000000
150,male,group A,some high school,standard,completed,62.000000,67.000000,69.000000
151,male,group A,bachelor's degree,standard,none,77.000000,67.000000,68.000000
152,female,group B,associate's degree,standard,completed,59.000000,70.000000,66.000000
153,male,group D,bachelor's degree,standard,none,54.000000,49.000000,47.000000
154,male,group D,some high school,standard,none,62.000000,67.000000,61.000000
155,female,group C,some college,standard,completed,70.000000,89.000000,88.000000
156,female,group E,high school,free/reduced,completed,66.000000,74.000000,78.000000
157,male,group B,some college,free/reduced,none,60.000000,60.000000,60.000000
158,female,group B,associate's degree,standard,completed,61.000000,86.000000,87.000000
159,male,group D,associate's degree,free/reduced,none,66.000000,62.000000,64.000000
160,male,group B,associate's degree,free/reduced,completed,82.000000,78.000000,74.000000
161,female,group E,some college,free/reduced,completed,75.000000,88.000000,85.000000
162,male,group B,master's degree,free/reduced,none,49.000000,53.000000,52.000000
163,male,group C,high school,standard,none,52.000000,53.000000,49.000000
164,female,group E,master's degree,standard,none,81.000000,92.000000,91.000000
165,female,group C,bachelor's degree,standard,completed,96.000000,100.000000,100.000000
166,male,group C,high school,free/reduced,completed,53.000000,51.000000,51.000000
167,female,group B,master's degree,free/reduced,completed,58.000000,76.000000,78.000000
168,female,group B,high school,standard,completed,68.000000,83.000000,78.000000
169,female,group C,some college,free/reduced,completed,67.000000,75.000000,70.000000
170,male,group A,high school,standard,completed,72.000000,73.000000,74.000000
171,male,group E,some high school,standard,none,94.000000,88.000000,78.000000
172,female,group D,some college,standard,none,79.000000,86.000000,81.000000
173,female,group C,associate's degree,standard,none,63.000000,67.000000,70.000000
174,female,group C,bachelor's degree,free/reduced,completed,43.000000,51.000000,54.000000
175,female,group C,master's degree,standard,completed,81.000000,91.000000,87.000000
176,female,group B,high school,free/reduced,completed,46.000000,54.000000,58.000000
177,female,group C,associate's degree,standard,completed,71.000000,77.000000,77.000000
178,female,group B,master's degree,free/reduced,completed,52.000000,70.000000,62.000000
179,female,group D,some high school,standard,completed,97.000000,100.000000,100.000000
180,male,group C,master's degree,free/reduced,completed,62.000000,68.000000,75.000000
181,female,group C,some college,free/reduced,none,46.000000,64.000000,66.000000
182,female,group E,high school,standard,none,50.000000,50.000000,47.000000
183,female,group D,associate's degree,standard,none,65.000000,69.000000,70.000000
184,male,group C,some high school,free/reduced,completed,45.000000,52.000000,49.000000
185,male,group C,associate's degree,free/reduced,completed,65.000000,67.000000,65.000000
186,male,group E,high school,standard,none,80.000000,76.000000,65.000000
187,male,group D,some high school,standard,completed,62.000000,66.000000,68.000000
188,male,group B,some high school,free/reduced,none,48.000000,52.000000,45.000000
189,female,group C,bachelor's degree,standard,none,77.000000,88.000000,87.000000
190,female,group E,associate's degree,standard,none,66.000000,65.000000,69.000000
191,male,group D,some college,standard,completed,76.000000,83.000000,79.000000
192,female,group B,some high school,standard,none,62.000000,64.000000,66.000000
193,male,group D,some college,standard,completed,77.000000,62.000000,62.000000
194,female,group C,master's degree,standard,completed,69.000000,84.000000,85.000000
195,male,group D,associate's degree,standard,none,61.000000,55.000000,52.000000
196,male,group C,some high school,free/reduced,completed,59.000000,69.000000,65.000000
197,male,group E,high school,free/reduced,none,55.000000,56.000000,51.000000
198,female,group B,some college,free/reduced,none,45.000000,53.000000,55.000000
199,female,group B,bachelor's degree,free/reduced,none,78.000000,79.000000,76.000000
200,female,group C,associate's degree,standard,completed,67.000000,84.000000,86.000000
201,female,group D,some college,free/reduced,none,65.000000,81.000000,77.000000
202,male,group C,associate's degree,standard,none,69.000000,77.000000,69.000000
203,female,group B,associate's degree,standard,none,57.000000,69.000000,68.000000
204,male,group C,some college,standard,none,59.000000,41.000000,42.000000
205,male,group D,some high school,standard,completed,74.000000,71.000000,78.000000
206,male,group E,bachelor's degree,standard,none,82.000000,62.000000,62.000000
207,male,group E,high school,standard,completed,81.000000,80.000000,76.000000
208,female,group B,some college,free/reduced,none,74.000000,81.000000,76.000000
209,female,group B,some college,free/reduced,none,58.000000,61.000000,66.000000
210,male,group D,some high school,free/reduced,completed,80.000000,79.000000,79.000000
211,male,group C,some college,free/reduced,none,35.000000,28.000000,27.000000
212,female,group C,high school,free/reduced,none,42.000000,62.000000,60.000000
213,male,group C,associate's degree,free/reduced,completed,60.000000,51.000000,56.000000
214,male,group E,high school,standard,completed,87.000000,91.000000,81.000000
215,male,group B,some high school,standard,completed,84.000000,83.000000,75.000000
216,female,group E,associate's degree,free/reduced,completed,83.000000,86.000000,88.000000
217,female,group C,high school,free/reduced,none,34.000000,42.000000,39.000000
218,male,group B,high school,free/reduced,none,66.000000,77.000000,70.000000
219,male,group B,some high school,standard,completed,61.000000,56.000000,56.000000
220,female,group D,high school,standard,completed,56.000000,68.000000,74.000000
221,male,group B,associate's degree,standard,none,87.000000,85.000000,73.000000
222,female,group C,some high school,free/reduced,none,55.000000,65.000000,62.000000
223,male,group D,some high school,standard,none,86.000000,80.000000,75.000000
224,female,group B,associate's degree,standard,completed,52.000000,66.000000,73.000000
225,female,group E,master's degree,free/reduced,none,45.000000,56.000000,54.000000
226,female,group C,some college,standard,none,72.000000,72.000000,71.000000
227,male,group D,high school,standard,none,57.000000,50.000000,54.000000
228,male,group A,some high school,free/reduced,none,68.000000,72.000000,64.000000
229,female,group C,some college,standard,completed,88.000000,95.000000,94.000000
230,male,group D,some college,standard,none,76.000000,64.000000,66.000000
231,male,group C,associate's degree,standard,none,46.000000,43.000000,42.000000
232,female,group B,bachelor's degree,standard,none,67.000000,86.000000,83.000000
233,male,group E,some high school,standard,none,92.000000,87.000000,78.000000
234,male,group C,bachelor's degree,standard,completed,83.000000,82.000000,84.000000
235,male,group D,associate's degree,standard,none,80.000000,75.000000,77.000000
236,male,group D,bachelor's degree,free/reduced,none,63.000000,66.000000,67.000000
237,female,group D,some high school,standard,completed,64.000000,60.000000,74.000000
238,male,group B,some college,standard,none,54.000000,52.000000,51.000000
239,male,group C,associate's degree,standard,none,84.000000,80.000000,80.000000
240,male,group D,high school,free/reduced,completed,73.000000,68.000000,66.000000
241,female,group E,bachelor's degree,standard,none,80.000000,83.000000,83.000000
242,female,group D,high school,standard,none,56.000000,52.000000,55.000000
243,male,group E,some college,standard,none,59.000000,51.000000,43.000000
244,male,group D,some high school,standard,none,75.000000,74.000000,69.000000
245,male,group C,associate's degree,standard,none,85.000000,76.000000,71.000000
246,male,group E,associate's degree,standard,none,89.000000,76.000000,74.000000
247,female,group B,high school,standard,completed,58.000000,70.000000,68.000000

--- BEFORE CLEANING ---
Shape (rows, columns): (1020, 8)

Missing values:
 gender                         20
race/ethnicity                 20
parental level of education    20
lunch                          20
test preparation course        20
math score                     10
reading score                  10
writing score                  10
dtype: int64

Duplicate rows: 36

--- AFTER CLEANING ---
Shape (rows, columns): (984, 8)

Missing values:
 gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Duplicate rows: 0

ðŸ“Š Before vs After Cleaning Report:

/tmp/ipython-input-608829914.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(df[col].mean())
/tmp/ipython-input-608829914.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(df[col].mode()[0])
/tmp/ipython-input-608829914.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = np.where(df[col] < lower, lower,
/tmp/ipython-input-608829914.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = np.where(df[col] < lower, lower,
/tmp/ipython-input-608829914.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = np.where(df[col] < lower, lower,

                Before Cleaning  After Cleaning
Total Rows                 1020             984
Duplicate Rows               36               0
Missing Values              130               0

âœ… Final Cleaned Dataset (Full):

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.000000,72.000000,74.000000
1,female,group C,some college,standard,completed,69.000000,90.000000,88.000000
2,female,group B,master's degree,standard,none,90.000000,95.000000,93.000000
3,male,group A,associate's degree,free/reduced,none,47.000000,57.000000,44.000000
4,male,group C,some college,standard,none,76.000000,78.000000,75.000000
5,female,group B,associate's degree,standard,none,71.000000,83.000000,78.000000
6,female,group B,some college,standard,completed,88.000000,95.000000,92.000000
7,male,group B,some college,free/reduced,none,40.000000,43.000000,39.000000
8,male,group D,high school,free/reduced,completed,64.000000,64.000000,67.000000
9,female,group B,high school,free/reduced,none,38.000000,60.000000,50.000000
10,male,group C,associate's degree,standard,none,58.000000,54.000000,52.000000
11,male,group D,associate's degree,standard,none,40.000000,52.000000,43.000000
12,female,group B,high school,standard,none,65.000000,81.000000,73.000000
13,male,group A,some college,standard,completed,78.000000,72.000000,70.000000
14,female,group A,master's degree,standard,none,50.000000,53.000000,58.000000
15,female,group C,some high school,standard,none,69.000000,75.000000,78.000000
16,male,group C,high school,standard,none,88.000000,89.000000,86.000000
17,female,group B,some high school,free/reduced,none,27.000000,32.000000,28.000000
18,male,group C,master's degree,free/reduced,completed,46.000000,42.000000,46.000000
19,female,group C,associate's degree,free/reduced,none,54.000000,58.000000,61.000000
20,male,group D,high school,standard,none,66.000000,69.000000,63.000000
21,female,group B,some college,free/reduced,completed,65.000000,75.000000,70.000000
22,male,group D,some college,standard,none,44.000000,54.000000,53.000000
23,female,group C,some high school,standard,none,69.000000,73.000000,73.000000
24,male,group D,bachelor's degree,free/reduced,completed,74.000000,71.000000,80.000000
25,male,group A,master's degree,free/reduced,none,73.000000,74.000000,72.000000
26,male,group B,some college,standard,none,69.000000,54.000000,55.000000
27,female,group C,bachelor's degree,standard,none,67.000000,69.000000,75.000000
28,male,group C,high school,standard,none,70.000000,70.000000,65.000000
29,female,group D,master's degree,standard,none,62.000000,70.000000,75.000000
30,female,group D,some college,standard,none,69.000000,74.000000,74.000000
31,female,group C,some college,standard,none,107.000000,111.500000,110.500000
32,female,group E,master's degree,free/reduced,none,56.000000,72.000000,65.000000
33,male,group D,some college,standard,none,40.000000,42.000000,38.000000
34,male,group E,some college,standard,none,97.000000,87.000000,82.000000
35,male,group E,associate's degree,standard,completed,81.000000,81.000000,79.000000
36,female,group D,associate's degree,standard,none,74.000000,81.000000,83.000000
37,female,group D,some high school,free/reduced,none,50.000000,64.000000,59.000000
38,female,group D,associate's degree,free/reduced,completed,75.000000,90.000000,88.000000
39,male,group B,associate's degree,free/reduced,none,57.000000,56.000000,57.000000
40,male,group C,associate's degree,free/reduced,none,55.000000,61.000000,54.000000
41,female,group C,associate's degree,standard,none,58.000000,73.000000,68.000000
42,female,group B,associate's degree,standard,none,53.000000,58.000000,65.000000
43,male,group B,some college,free/reduced,completed,59.000000,65.000000,66.000000
44,female,group E,associate's degree,free/reduced,none,50.000000,56.000000,54.000000
45,male,group B,associate's degree,standard,none,65.000000,54.000000,57.000000
46,female,group A,associate's degree,standard,completed,55.000000,65.000000,62.000000
47,female,group C,high school,standard,none,66.000000,71.000000,76.000000
48,female,group D,associate's degree,free/reduced,completed,57.000000,74.000000,76.000000
49,male,group C,high school,standard,completed,82.000000,84.000000,82.000000
50,male,group E,some college,standard,none,53.000000,55.000000,48.000000
51,male,group E,associate's degree,free/reduced,completed,77.000000,69.000000,68.000000
52,male,group C,some college,standard,none,53.000000,44.000000,42.000000
53,male,group D,high school,standard,none,88.000000,78.000000,75.000000
54,female,group C,some high school,free/reduced,completed,71.000000,84.000000,87.000000
55,female,group C,high school,free/reduced,none,33.000000,41.000000,43.000000
56,female,group E,associate's degree,standard,completed,82.000000,85.000000,86.000000
57,male,group D,associate's degree,standard,none,52.000000,55.000000,49.000000
58,male,group D,some college,standard,completed,58.000000,59.000000,58.000000
59,female,group C,some high school,free/reduced,none,27.000000,27.500000,26.500000
60,male,group E,bachelor's degree,free/reduced,completed,79.000000,74.000000,72.000000
61,male,group A,some high school,free/reduced,none,39.000000,39.000000,34.000000
62,male,group A,associate's degree,free/reduced,none,62.000000,61.000000,55.000000
63,female,group C,associate's degree,standard,none,69.000000,80.000000,71.000000
64,female,group D,some high school,standard,none,59.000000,58.000000,59.000000
65,male,group B,some high school,standard,none,67.000000,64.000000,61.000000
66,male,group D,some high school,free/reduced,none,45.000000,37.000000,37.000000
67,female,group C,some college,standard,none,60.000000,72.000000,74.000000
68,male,group B,associate's degree,free/reduced,none,61.000000,58.000000,56.000000
69,female,group C,associate's degree,standard,none,39.000000,64.000000,57.000000
70,female,group C,some college,standard,none,66.295739,69.386394,68.280665
71,male,group D,some college,standard,completed,63.000000,55.000000,63.000000
72,female,group A,associate's degree,free/reduced,none,41.000000,51.000000,48.000000
73,male,group C,some high school,free/reduced,none,61.000000,57.000000,56.000000
74,male,group C,some high school,standard,none,49.000000,49.000000,41.000000
75,male,group B,associate's degree,free/reduced,none,44.000000,41.000000,38.000000
77,male,group A,bachelor's degree,standard,completed,80.000000,78.000000,81.000000
78,female,group D,some high school,standard,completed,61.000000,74.000000,72.000000
79,female,group E,master's degree,standard,none,62.000000,68.000000,68.000000
80,female,group B,associate's degree,standard,none,47.000000,49.000000,50.000000
81,male,group B,high school,free/reduced,none,49.000000,45.000000,45.000000
82,male,group A,some college,free/reduced,completed,50.000000,47.000000,54.000000
83,male,group E,associate's degree,standard,none,72.000000,64.000000,63.000000
84,male,group D,high school,free/reduced,none,42.000000,39.000000,34.000000
85,female,group C,some college,standard,none,73.000000,80.000000,82.000000
86,female,group C,some college,free/reduced,none,76.000000,83.000000,88.000000
87,female,group D,associate's degree,standard,none,71.000000,71.000000,74.000000
88,female,group A,some college,standard,none,58.000000,70.000000,67.000000
89,female,group D,some high school,standard,none,73.000000,86.000000,82.000000
90,female,group C,bachelor's degree,standard,none,65.000000,72.000000,74.000000
91,male,group C,high school,free/reduced,none,27.000000,34.000000,36.000000
92,male,group C,high school,standard,none,71.000000,79.000000,71.000000
93,male,group C,associate's degree,free/reduced,completed,43.000000,45.000000,50.000000
94,female,group B,some college,standard,none,79.000000,86.000000,92.000000
95,male,group C,associate's degree,free/reduced,completed,78.000000,81.000000,82.000000
96,male,group B,some high school,standard,completed,65.000000,66.000000,62.000000
97,female,group E,some college,standard,completed,63.000000,72.000000,70.000000
98,female,group D,some college,free/reduced,none,58.000000,67.000000,62.000000
99,female,group D,bachelor's degree,standard,none,65.000000,67.000000,62.000000
100,male,group B,some college,standard,none,79.000000,67.000000,67.000000
102,female,group D,associate's degree,standard,none,85.000000,91.000000,89.000000
103,male,group B,high school,standard,completed,60.000000,44.000000,47.000000
104,male,group C,some college,standard,completed,98.000000,86.000000,90.000000
105,female,group C,some college,standard,none,58.000000,67.000000,72.000000
106,female,group D,master's degree,standard,none,87.000000,100.000000,100.000000
107,male,group E,associate's degree,standard,completed,66.000000,63.000000,64.000000
108,female,group B,associate's degree,free/reduced,none,52.000000,76.000000,70.000000
109,female,group B,some high school,standard,none,70.000000,64.000000,72.000000
110,female,group D,associate's degree,free/reduced,completed,77.000000,89.000000,98.000000
111,male,group C,high school,standard,none,62.000000,55.000000,49.000000
112,male,group A,associate's degree,standard,none,54.000000,53.000000,47.000000
113,female,group D,some college,standard,none,51.000000,58.000000,54.000000
114,female,group E,bachelor's degree,standard,completed,99.000000,100.000000,100.000000
115,male,group C,high school,standard,none,84.000000,77.000000,74.000000
116,female,group B,bachelor's degree,free/reduced,none,75.000000,85.000000,82.000000
117,female,group D,bachelor's degree,standard,none,78.000000,82.000000,79.000000
118,female,group D,some high school,standard,none,51.000000,63.000000,61.000000
119,female,group C,some college,standard,none,55.000000,69.000000,65.000000
120,female,group C,bachelor's degree,standard,completed,79.000000,92.000000,89.000000
121,male,group B,associate's degree,standard,completed,91.000000,89.000000,92.000000
122,female,group C,some college,standard,completed,88.000000,93.000000,93.000000
123,male,group D,high school,free/reduced,none,63.000000,57.000000,56.000000
124,male,group E,some college,standard,none,83.000000,80.000000,73.000000
125,female,group B,high school,standard,none,87.000000,95.000000,86.000000
126,male,group B,some high school,standard,none,72.000000,68.000000,67.000000
127,male,group D,some college,standard,completed,65.000000,77.000000,74.000000
128,male,group D,master's degree,standard,none,82.000000,82.000000,74.000000
129,female,group A,bachelor's degree,standard,none,51.000000,49.000000,51.000000
130,male,group D,master's degree,standard,none,89.000000,84.000000,82.000000
131,male,group C,some high school,free/reduced,completed,53.000000,37.000000,40.000000
132,male,group E,some college,free/reduced,completed,87.000000,74.000000,70.000000
133,female,group C,some college,standard,completed,75.000000,81.000000,84.000000
134,male,group D,bachelor's degree,free/reduced,completed,74.000000,79.000000,75.000000
135,male,group C,bachelor's degree,standard,none,58.000000,55.000000,48.000000
136,male,group B,some high school,standard,completed,51.000000,54.000000,41.000000
137,male,group E,high school,standard,none,70.000000,55.000000,56.000000
138,female,group C,associate's degree,standard,none,59.000000,66.000000,67.000000
139,male,group D,some college,standard,completed,71.000000,61.000000,69.000000
140,female,group D,some high school,standard,none,76.000000,72.000000,71.000000
141,female,group C,some college,free/reduced,none,59.000000,62.000000,64.000000
142,female,group E,some college,free/reduced,completed,42.000000,55.000000,54.000000
143,male,group A,high school,standard,none,57.000000,43.000000,47.000000
144,male,group D,some college,standard,none,88.000000,73.000000,78.000000
145,female,group C,some college,free/reduced,none,27.000000,39.000000,33.000000
146,male,group B,some high school,standard,none,88.000000,84.000000,75.000000
147,male,group C,associate's degree,free/reduced,none,73.000000,68.000000,66.000000
148,female,group D,bachelor's degree,standard,completed,68.000000,75.000000,81.000000
149,male,group E,associate's degree,free/reduced,completed,100.000000,100.000000,93.000000
150,male,group A,some high school,standard,completed,62.000000,67.000000,69.000000
151,male,group A,bachelor's degree,standard,none,77.000000,67.000000,68.000000
152,female,group B,associate's degree,standard,completed,59.000000,70.000000,66.000000
153,male,group D,bachelor's degree,standard,none,54.000000,49.000000,47.000000
154,male,group D,some high school,standard,none,62.000000,67.000000,61.000000
155,female,group C,some college,standard,completed,70.000000,89.000000,88.000000
156,female,group E,high school,free/reduced,completed,66.000000,74.000000,78.000000
157,male,group B,some college,free/reduced,none,60.000000,60.000000,60.000000
158,female,group B,associate's degree,standard,completed,61.000000,86.000000,87.000000
159,male,group D,associate's degree,free/reduced,none,66.000000,62.000000,64.000000
160,male,group B,associate's degree,free/reduced,completed,82.000000,78.000000,74.000000
161,female,group E,some college,free/reduced,completed,75.000000,88.000000,85.000000
162,male,group B,master's degree,free/reduced,none,49.000000,53.000000,52.000000
163,male,group C,high school,standard,none,52.000000,53.000000,49.000000
164,female,group E,master's degree,standard,none,81.000000,92.000000,91.000000
165,female,group C,bachelor's degree,standard,completed,96.000000,100.000000,100.000000
166,male,group C,high school,free/reduced,completed,53.000000,51.000000,51.000000
167,female,group B,master's degree,free/reduced,completed,58.000000,76.000000,78.000000
168,female,group B,high school,standard,completed,68.000000,83.000000,78.000000
169,female,group C,some college,free/reduced,completed,67.000000,75.000000,70.000000
170,male,group A,high school,standard,completed,72.000000,73.000000,74.000000
171,male,group E,some high school,standard,none,94.000000,88.000000,78.000000
172,female,group D,some college,standard,none,79.000000,86.000000,81.000000
173,female,group C,associate's degree,standard,none,63.000000,67.000000,70.000000
174,female,group C,bachelor's degree,free/reduced,completed,43.000000,51.000000,54.000000
175,female,group C,master's degree,standard,completed,81.000000,91.000000,87.000000
176,female,group B,high school,free/reduced,completed,46.000000,54.000000,58.000000
177,female,group C,associate's degree,standard,completed,71.000000,77.000000,77.000000
178,female,group B,master's degree,free/reduced,completed,52.000000,70.000000,62.000000
179,female,group D,some high school,standard,completed,97.000000,100.000000,100.000000
180,male,group C,master's degree,free/reduced,completed,62.000000,68.000000,75.000000
181,female,group C,some college,free/reduced,none,46.000000,64.000000,66.000000
182,female,group E,high school,standard,none,50.000000,50.000000,47.000000
183,female,group D,associate's degree,standard,none,65.000000,69.000000,70.000000
184,male,group C,some high school,free/reduced,completed,45.000000,52.000000,49.000000
185,male,group C,associate's degree,free/reduced,completed,65.000000,67.000000,65.000000
186,male,group E,high school,standard,none,80.000000,76.000000,65.000000
187,male,group D,some high school,standard,completed,62.000000,66.000000,68.000000
188,male,group B,some high school,free/reduced,none,48.000000,52.000000,45.000000
189,female,group C,bachelor's degree,standard,none,77.000000,88.000000,87.000000
190,female,group E,associate's degree,standard,none,66.000000,65.000000,69.000000
191,male,group D,some college,standard,completed,76.000000,83.000000,79.000000
192,female,group B,some high school,standard,none,62.000000,64.000000,66.000000
193,male,group D,some college,standard,completed,77.000000,62.000000,62.000000
194,female,group C,master's degree,standard,completed,69.000000,84.000000,85.000000
195,male,group D,associate's degree,standard,none,61.000000,55.000000,52.000000
196,male,group C,some high school,free/reduced,completed,59.000000,69.000000,65.000000
197,male,group E,high school,free/reduced,none,55.000000,56.000000,51.000000
198,female,group B,some college,free/reduced,none,45.000000,53.000000,55.000000
199,female,group B,bachelor's degree,free/reduced,none,78.000000,79.000000,76.000000
200,female,group C,associate's degree,standard,completed,67.000000,84.000000,86.000000
201,female,group D,some college,free/reduced,none,65.000000,81.000000,77.000000
202,male,group C,associate's degree,standard,none,69.000000,77.000000,69.000000
203,female,group B,associate's degree,standard,none,57.000000,69.000000,68.000000
204,male,group C,some college,standard,none,59.000000,41.000000,42.000000
205,male,group D,some high school,standard,completed,74.000000,71.000000,78.000000
206,male,group E,bachelor's degree,standard,none,82.000000,62.000000,62.000000
207,male,group E,high school,standard,completed,81.000000,80.000000,76.000000
208,female,group B,some college,free/reduced,none,74.000000,81.000000,76.000000
209,female,group B,some college,free/reduced,none,58.000000,61.000000,66.000000
210,male,group D,some high school,free/reduced,completed,80.000000,79.000000,79.000000
211,male,group C,some college,free/reduced,none,35.000000,28.000000,27.000000
212,female,group C,high school,free/reduced,none,42.000000,62.000000,60.000000
213,male,group C,associate's degree,free/reduced,completed,60.000000,51.000000,56.000000
214,male,group E,high school,standard,completed,87.000000,91.000000,81.000000
215,male,group B,some high school,standard,completed,84.000000,83.000000,75.000000
216,female,group E,associate's degree,free/reduced,completed,83.000000,86.000000,88.000000
217,female,group C,high school,free/reduced,none,34.000000,42.000000,39.000000
218,male,group B,high school,free/reduced,none,66.000000,77.000000,70.000000
219,male,group B,some high school,standard,completed,61.000000,56.000000,56.000000
220,female,group D,high school,standard,completed,56.000000,68.000000,74.000000
221,male,group B,associate's degree,standard,none,87.000000,85.000000,73.000000
222,female,group C,some high school,free/reduced,none,55.000000,65.000000,62.000000
223,male,group D,some high school,standard,none,86.000000,80.000000,75.000000
224,female,group B,associate's degree,standard,completed,52.000000,66.000000,73.000000
225,female,group E,master's degree,free/reduced,none,45.000000,56.000000,54.000000
226,female,group C,some college,standard,none,72.000000,72.000000,71.000000
227,male,group D,high school,standard,none,57.000000,50.000000,54.000000
228,male,group A,some high school,free/reduced,none,68.000000,72.000000,64.000000
229,female,group C,some college,standard,completed,88.000000,95.000000,94.000000
230,male,group D,some college,standard,none,76.000000,64.000000,66.000000
231,male,group C,associate's degree,standard,none,46.000000,43.000000,42.000000
232,female,group B,bachelor's degree,standard,none,67.000000,86.000000,83.000000
233,male,group E,some high school,standard,none,92.000000,87.000000,78.000000
234,male,group C,bachelor's degree,standard,completed,83.000000,82.000000,84.000000
235,male,group D,associate's degree,standard,none,80.000000,75.000000,77.000000
236,male,group D,bachelor's degree,free/reduced,none,63.000000,66.000000,67.000000
237,female,group D,some high school,standard,completed,64.000000,60.000000,74.000000
238,male,group B,some college,standard,none,54.000000,52.000000,51.000000
239,male,group C,associate's degree,standard,none,84.000000,80.000000,80.000000
240,male,group D,high school,free/reduced,completed,73.000000,68.000000,66.000000
241,female,group E,bachelor's degree,standard,none,80.000000,83.000000,83.000000
242,female,group D,high school,standard,none,56.000000,52.000000,55.000000
243,male,group E,some college,standard,none,59.000000,51.000000,43.000000
244,male,group D,some high school,standard,none,75.000000,74.000000,69.000000
245,male,group C,associate's degree,standard,none,85.000000,76.000000,71.000000
246,male,group E,associate's degree,standard,none,89.000000,76.000000,74.000000
247,female,group B,high school,standard,completed,58.000000,70.000000,68.000000
248,female,group B,high school,standard,none,65.000000,64.000000,62.000000